<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Notification.OnFailure" value="{A58441A6-B318-4C24-9BF7-F1AF30A9D13A}" />
      <setting name="Notification.OnSuccess" value="{6BDC16FB-9D08-4033-A404-FC5FCC6715DB}" />
      <setting name="ContentByEmail.EmailRequestHistory" value="{4A0236F2-A510-4942-9052-AFE90ACE207A}" />
      <setting name="Fmcti.Sitecore.UI.SettingsCustom.Account" value="sitecore\svcContentByMail" />
    </settings>
    <sites>
      <site name="website">
        <patch:attribute name="itemwebapi.mode">StandardSecurity</patch:attribute>
        <patch:attribute name="itemwebapi.access">ReadWrite</patch:attribute>
        <patch:attribute name="itemwebapi.allowanonymousaccess">true</patch:attribute>
      </site>
    </sites>
    <pipelines>
      <itemWebApiRequest>
        <processor type="ContentByMail.Pipelines.ItemWebApiRequest.PostmarkRequestProcessor, ContentByMail"
                   patch:after="processor[@type='Sitecore.ItemWebApi.Pipelines.Request.CheckSecurity, Sitecore.ItemWebApi']" />
      </itemWebApiRequest>
      <ContentByMail.ProcessEmail>
        <!-- Implement ContentByMail.Pipelines.IEmailMessageProcessor for custom processors and replace this out-of-the-box processor -->
        <processor type="ContentByMail.Pipelines.ContentByMail.ProcessEmail.SimpleEmailMessageProcessor, ContentByMail" />
      </ContentByMail.ProcessEmail>
    </pipelines>
  </sitecore>
</configuration>